affine==2.4.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
argon2-cffi==23.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
attrs==24.2.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
audioread==3.0.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
awscli==1.33.44 ; python_version >= "3.11" and python_full_version < "3.12.0"
bleach==6.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
bokeh==3.5.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
boto3==1.34.47 ; python_version >= "3.11" and python_full_version < "3.12.0"
botocore==1.34.162 ; python_version >= "3.11" and python_full_version < "3.12.0"
build==1.2.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
cachetools==5.5.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
cartopy==0.23.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
certifi==2023.11.17 ; python_version >= "3.11" and python_full_version < "3.12.0"
cffi==1.17.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
cftime==1.6.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
cleo==2.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
click-plugins==1.1.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
click==8.1.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
cligj==0.7.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
cloudpickle==3.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
colorama==0.4.6 ; python_version >= "3.11" and python_full_version < "3.12.0"
colorcet==3.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
contourpy==1.3.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
coverage==7.6.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
coverage[toml]==7.6.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
crashtest==0.4.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
cryptography==41.0.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
cycler==0.12.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
dask==2023.12.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
dataclasses-json==0.6.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
decorator==5.1.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
distlib==0.3.8 ; python_version >= "3.11" and python_full_version < "3.12.0"
docutils==0.16 ; python_version >= "3.11" and python_full_version < "3.12.0"
dulwich==0.21.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
et-xmlfile==1.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
fastjsonschema==2.20.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
filelock==3.16.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
fonttools==4.54.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
fsspec==2024.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
geopandas==1.0.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
geoviews==1.13.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-api-core==2.20.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-auth==2.35.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-cloud-core==2.4.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-cloud-storage==2.18.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-crc32c==1.6.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
google-resumable-media==2.7.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
googleapis-common-protos==1.65.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
h5netcdf==1.3.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
h5py==3.11.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
holoviews==1.19.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
hvplot==0.10.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
idna==3.10 ; python_version >= "3.11" and python_full_version < "3.12.0"
imageio==2.35.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
importlib-metadata==8.5.0 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
installer==0.7.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
jeepney==0.8.0 ; python_version >= "3.11" and python_full_version < "3.12.0" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
jmespath==1.0.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
joblib==1.4.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
keyring==24.3.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
kiwisolver==1.4.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
lazy-loader==0.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
librosa==0.10.2.post1 ; python_version >= "3.11" and python_full_version < "3.12.0"
lifewatch-pypam==0.3.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
linkify-it-py==2.0.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
llvmlite==0.40.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
locket==1.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
loguru-mypy==0.0.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
loguru[mypy]==0.7.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
markdown==3.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
markupsafe==2.1.5 ; python_version >= "3.11" and python_full_version < "3.12.0"
marshmallow==3.20.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
matplotlib==3.9.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
mbari-pbp==1.5.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
mdit-py-plugins==0.4.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
minio==7.2.9 ; python_version >= "3.11" and python_full_version < "3.12.0"
more-itertools==10.5.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
msgpack==1.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
netcdf4==1.7.1.post2 ; python_version >= "3.11" and python_full_version < "3.12.0"
networkx==3.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
noisereduce==2.0.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
numba==0.57.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
numpy==1.24.4 ; python_version >= "3.11" and python_version < "3.12"
openpyxl==3.1.5 ; python_version >= "3.11" and python_full_version < "3.12.0"
packaging==24.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
pandas==2.2.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
panel==1.5.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
param==2.1.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
partd==1.4.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pillow==10.4.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pkginfo==1.11.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
platformdirs==4.3.6 ; python_version >= "3.11" and python_full_version < "3.12.0"
pluggy==1.5.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
poetry-core==1.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
poetry-plugin-export==1.8.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
poetry==1.8.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
pooch==1.8.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
progressbar2==3.53.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
proto-plus==1.24.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
protobuf==5.28.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pvlib==0.10.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyarrow==15.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyasn1-modules==0.4.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyasn1==0.6.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
pycparser==2.22 ; python_version >= "3.11" and python_full_version < "3.12.0"
pycryptodome==3.20.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyhydrophone==0.1.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyogrio==0.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyparsing==3.1.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyproj==3.6.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyproject-hooks==1.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyshp==2.3.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
pytest-cov==4.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
pytest==7.4.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
python-utils==3.8.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
pytz==2024.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
pyviz-comms==3.0.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and python_full_version < "3.12.0" and sys_platform == "win32"
pyyaml==6.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
rapidfuzz==3.10.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
rasterio==1.3.11 ; python_version >= "3.11" and python_full_version < "3.12.0"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
requests==2.32.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
resampy==0.4.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
rioxarray==0.17.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
rsa==4.7.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
s3transfer==0.10.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
scikit-image==0.24.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
scikit-learn==1.5.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
scikit-maad==1.4.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
scipy==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
seaborn==0.13.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
secretstorage==3.3.3 ; python_version >= "3.11" and python_full_version < "3.12.0" and sys_platform == "linux"
setuptools==68.2.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
shapely==2.0.6 ; python_version >= "3.11" and python_full_version < "3.12.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_full_version < "3.12.0"
six==1.16.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
snuggs==1.4.7 ; python_version >= "3.11" and python_full_version < "3.12.0"
soundfile==0.12.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
soxr==0.5.0.post1 ; python_version >= "3.11" and python_full_version < "3.12.0"
syrupy==4.7.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
threadpoolctl==3.5.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
tifffile==2024.9.20 ; python_version >= "3.11" and python_full_version < "3.12.0"
tomlkit==0.13.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
toolz==0.12.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
tornado==6.4.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
tqdm==4.66.5 ; python_version >= "3.11" and python_full_version < "3.12.0"
trove-classifiers==2024.9.12 ; python_version >= "3.11" and python_full_version < "3.12.0"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
typing-inspect==0.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
tzdata==2024.2 ; python_version >= "3.11" and python_full_version < "3.12.0"
uc-micro-py==1.0.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
urllib3==2.2.3 ; python_version >= "3.11" and python_full_version < "3.12.0"
virtualenv==20.26.5 ; python_version >= "3.11" and python_full_version < "3.12.0"
webencodings==0.5.1 ; python_version >= "3.11" and python_full_version < "3.12.0"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0" and sys_platform == "win32"
xarray==2023.8.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
xattr==1.1.0 ; python_version >= "3.11" and python_full_version < "3.12.0" and sys_platform == "darwin"
xyzservices==2024.9.0 ; python_version >= "3.11" and python_full_version < "3.12.0"
zipp==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
